{% load sekizai_tags cms_tags sb_tags sb_math_tags sb_thumb_tags sb_default_urls static %}

{% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}

{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_slider/sb_slider.css' %}">{% endaddtoblock %}
{% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_slider/sb_slider.js"></script>{% endaddtoblock %}


<div class="sb_slider sb_slider_{{ instance.id }}{% if instance.width %} has_width{% endif %}{% if instance.show_hint %} show_desc_always{% endif %}{% if not instance.hide_navs %} show_navs_always{% endif %}"{% if instance.style %} style="{{ instance.style }}"{% endif %}>
    <div class="slide_c" style="{% if instance.width %}padding-top: {{ instance.height|division:instance.width|to_percent }};{% else %}height: {{ instance.height }}px;{% endif %}">
        {% for pic in active_pics %}
            {% if pic.link %}<a href="{{ pic.link }}">{% endif %}

            <div class="slide">
                {% if instance.width %}
                    {% retina pic instance.width instance.height pic.description|truncatewords:10 fluid=True %}
                {% else %}
                    {% retina pic 1920 instance.height pic.description|truncatewords:10 %}
                {% endif %}

                {% if pic.description %}<div class="desc">{{ pic.description|safe }}</div>{% endif %}
            </div>

            {% if pic.link %}</a>{% endif %}
        {% endfor %}
    </div>

    {% if active_pics|length > 1 %}
        {% addtoblock 'css' %}<link rel="stylesheet" href="{% default_url 'awesome' %}">{% endaddtoblock %}

        <div class="side side_l">
            <i class="fa fa-angle-left nav nav_left"></i>
        </div>

        <div class="side side_r">
            <i class="fa fa-angle-right nav nav_right"></i>
        </div>

        {% if instance.show_paginator %}
            <div class="paginator">
                {% for item in active_pics|length|range %}
                    <span{% if forloop.first %} class="active"{% endif %}></span>
                {% endfor %}
            </div>
        {% endif %}

        {% if instance.auto_speed and instance.stopper %}
            <div class="stopper_wr" data-status='pause'>
                <i class="fa fa-pause stopper stopper_pause"></i>
                <i class="fa fa-play stopper stopper_play"></i>
            </div>
        {% endif %}
    {% endif %}
</div>

{% addtoblock 'post_js_no_compress' %}
    <script>
        $(function(){
            $('.sb_slider_{{ instance.id }}').sb_slider({
                'index': 0,
                'is_move_slide': {{ instance.is_move_slide|bool_py_to_js }},
                'move_speed': {{ instance.move_speed|default_if_empty:'null' }},
                'auto_speed': {{ instance.auto_speed|default_if_empty:'null' }},
                'loop': {{ instance.loop|bool_py_to_js }},
                'show_stopper': {{ instance.stopper|bool_py_to_js }}
            });
        });
    </script>
{% endaddtoblock %}
