/* SBL: Slider (sb_slider.css)
 * Copyright (c) 2013 - 2017 Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */
.sb_slider {
    position: relative;margin-top: 15px; margin-bottom: 15px;
    &.has_width {margin-left: auto; margin-right: auto;}

    .slide_c {
        position: relative;top: 0;margin: 0 auto;overflow: hidden;width: 100%;
        .slide {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
    }

    .th {width: 100%!important;}
    .desc {position: absolute;bottom: 0;left: 0;z-index: 2;font-size: 14px;width: 100%;background-color: rgba(55, 55, 55, 0.50);padding: 8px;color: #fff;opacity: 0;line-height: 18px;}

    .side {
        position: absolute; top: 0; width: 48px; height: 100%;z-index: 2;opacity: 0;
        &.side_l {left: 0;}
        &.side_r {right: 0;}

        .nav {cursor: pointer;text-align: center;font-size: 50px;color: #fff;text-shadow: 0 0 #000;background: rgba(0, 0, 0, 0.2);height: 48px;width: 100%;top: 50%;position: absolute;line-height: 42px;margin-top: -24px;}
    }

    .stopper_wr {
        opacity: 0;background: rgba(0, 0, 0, 0.2);color: #fff;text-shadow: 0 0 #000;border-radius: 25px; position: absolute; top: 10px;right: 60px;text-align: center; width: 40px;height: 40px;cursor: pointer;z-index: 3;display: table;
        .stopper {display: table-cell;vertical-align: middle;padding-left: 1px;}
        .stopper_play {display: none;}
    }

    .paginator {
        position: absolute;top: 9px;left: 14px;z-index: 2;font-size: 12px;opacity: 0;
        span {
            border: 2px solid #2A2A2A;margin: 0 4px;cursor: pointer;width: 14px;height: 14px;display: block;float: left;border-radius: 10px;box-sizing: border-box;
            &:hover, &.active {width: 0;height: 0;border-width: 7px;}
        }

    }

    &.show_desc_always .desc, &.show_navs_always .side {opacity: 1;}

    .desc, .side, .stopper_wr, .paginator {transition: opacity 0.07s ease-out 0.02s;}
    &:hover {
        .desc, .side, .stopper_wr, .paginator {opacity: 1}
    }
}